.privacy-policy-content {
    padding: 20px;
}
.privacy-policy-content h1, h2, h3{
    padding: 20px 40px;
}
.privacy-policy-content p{
    font-size: 18px;
    padding: 20px 20px 20px 60px;
}
.privacy-policy-content ul{
    font-size: 16px;
    padding: 20px 20px 20px 80px;
}
.privacy-policy-content li{
    padding-left: 15px 20px;
}